<heml>
    <body>

        <h2>JavaScript in body</h2>

        <p id="demo">A paragraph.</p>
        
        <button type="button" onclick="myFunction()">Try it</button>

        <script>
            function myFunction() {
                document.getElementById("demo").innerHTML = "Paragraph changed.";
            }
        </script>
    </body>
</heml>